.bibleGetButtonGroup,.bibleGetTextStyleButtonGroup {
    margin-right: 3px;
}

.components-base-control__label {
    display: block !important;
}

.bibleGetTextStyleButtonGroup button {
    width: 3em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.bibleGetTextStyleButtonGroup.verseNumberStyles button {
    width: 2.4em;
}

.bibleGetTextStyleButtonGroup .italic {
    font-style: italic;
}

.bibleGetTextStyleButtonGroup .underline {
    text-decoration: underline;
}

.bibleGetTextStyleButtonGroup .strikethrough {
    text-decoration: line-through;
}

.bibleGetSearch input {
    width: 80%;
    /* height: 2.8em;*/
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bibleGetSearchBtn {
    position: relative;
    top: 5px;
    left: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bibleGetSearchDlg .ui-dialog-title .dashicons {
    position: relative;
    top: 9px;
    left: -3px;
    margin-right: 9px;
}

#searchResultsContainer {
	display: flex;
	justify-content: space-around;
}

.ui-dialog #searchResultsContainer button {
	background-color: #0091CD;
	color: White;
	border: 1px outset Blue;
	padding: 6px 9px;
	float: none;
	position: static;
	white-space: nowrap;
	border-radius: 3px;
}

.ui-dialog #searchResultsContainer button:hover {
	background-color: #007fb4; 
}

.ui-dialog #searchResultsContainer button:disabled,.ui-dialog #searchResultsContainer button:disabled:hover {
    background-color: #cccccc;
    border: 1px ridge lightgray;
}

.ui-dialog #searchResultsContainer button i.fa {
  margin-right: 6px;
}

#searchResultsControlPanel {
	min-width: 20%;
	max-width: 25%;
	margin-right: 23px;
	padding-top: 23px;
	border: 1px groove White;
	text-align: center;
	box-shadow: 10px 2px 10px Gray;
}

#searchResultsControlPanel .controlComponent {
	margin: 33px 0px;
}

#searchResultsControlPanel .controlComponent label {
	display: block;
}

#searchResultsControlPanel .controlComponent button {
  margin: 10px 0px;
}

#searchResultsContents {
  min-width: 75%;
}

#bibleGetSearchResultsTableContainer {
	border: 1px solid #963;
	overflow-y: auto;
    max-height: 500px;
    overflow-y: auto;
}

#bibleGetSearchResultsTableContainer table {
 	width: 100%;
}

#bibleGetSearchResultsTableContainer th, td { padding: 8px 16px; }

#bibleGetSearchResultsTableContainer thead th {
	position: sticky;
    top: 0;
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	text-align: center;
    color: White;
    font-weight: bold;
}

#bibleGetSearchResultsTableContainer tbody td {
 	border-bottom: 1px groove White;
 	border-right: 1px groove White;
 	background-color: #EFEFEF;
}

#bibleGetSearchResultsTableContainer tbody td:last-child {
	border-right: 0px;
}

#bibleGetSearchResultsTableContainer mark {
  font-weight: bold;
}
