.bibleget-buttonset .button span {
	display: block;
	font-weight: bold;
}

.bibleget-buttonset .button input {
	height: 0px; 
	width: 0px;
}

.bibleget-buttonset .button.strikethrough span {
	text-decoration: line-through;
}

.bibleget-buttonset .button.underline span {
	text-decoration: underline;
}

.bibleget-buttonset .button.italic span {
	font-style: italic;
}
